In [ ]:
# Sai Ram

In [ ]:
# Sai Ram

In [ ]:
# Sai Ram

# 25 April - Tuple and Dict

### Difference and Symmetric difference and symmetric difference update

In [131]:
a = {1,2,3,4,5,6,7,8,9}
b = {4,5,6,7,8}
c = {8,9,10}

In [132]:
a.difference(b) #it returns the remaining elements of 1st set excluding the common elements of both sets

{1, 2, 3, 9}

In [133]:
a.symmetric_difference(b) # returns the umcommon elements of both sets

{1, 2, 3, 9}

In [134]:
b.difference(c) # returns the uncommon elements of 1st set specified

{4, 5, 6, 7}

In [135]:
b.symmetric_difference(c) # returns the uncommon elements of both sets specified

{4, 5, 6, 7, 9, 10}

In [136]:
c - a # difference function can also be defined as -

{10}

In [137]:
c ^ a # symmetric difference can be defined either by symmetric_difference() function or ^ symbol

{1, 2, 3, 4, 5, 6, 7, 10}

In [138]:
print(a)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{8, 9, 10}

In [139]:
c.symmetric_difference_update(a) # it updates the 1st set with the uncommon elements of both sets(modifies the original set)
print(c)

{1, 2, 3, 4, 5, 6, 7, 10}

In [140]:
print(a)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 10}

In [141]:
a.symmetric_difference_update(c) # updates the set a with the uncommon elements present in both a and c sets
print(a)

{8, 9, 10}

In [142]:
print(c)
print(b)

{1, 2, 3, 4, 5, 6, 7, 10}
{4, 5, 6, 7, 8}

In [143]:
c ^= b # symmetric difference update function can be defined either by ^= or symmetric_difference_update() function
print(c)

{1, 2, 3, 8, 10}

In [144]:
print(b)

{4, 5, 6, 7, 8}

In [145]:
print(a)
print(b)

{8, 9, 10}
{4, 5, 6, 7, 8}

In [146]:
a ^= b # set a is modified with uncommon elements of both a and b sets
print(a)
print(b)

{5, 4, 9, 10, 6, 7}
{4, 5, 6, 7, 8}

In [147]:
c # original c set is modified after the symmetric_difference_update() function

{1, 2, 3, 8, 10}

### Subset, Superset and disjoint

#### superset (superclass in OOPS) - dad (has his unique features)
#### subset (subclass in OOPS) - son (son has both dad's features and his unique features)
#### disjoint - neighbour (has no common features)

In [149]:
a1 = {1,2,3,4,5,6,7,8,9}
b1 = {4,5,6,7,8}
c1 = {8,9,10}

In [150]:
print(a1) # copying the original values for practice
print(b1)
print(c1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [155]:
a1.issubset(b1) # subset should have all the elements that are available in other set(a1 has more elements than b1, so a1 isn't a subset of b1)

False

In [156]:
b1.issubset(a1) # b1 is a subset of a1 as a has all the elements present in b1

True

In [157]:
b1.issuperset(a1) # b1 is not a superset of a1, as a1 has more elements than b1 excluding the common elements

False

In [154]:
print(a1)
print(b1)
print(c1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [120]:
a1.isdisjoint(c1) # returns True if both sets have no common elements, if both sets have common elements then it returns False

False

In [158]:
b1.isdisjoint(c1) # b1 and c1 sets have common elements{8}, so it returns False

False

In [159]:
a1.isdisjoint(b1) # a1 and b1 have common elements {4,5,6,7,8}, hence it returns False

False

In [161]:
d1 = {1,2,3}

In [162]:
d1.isdisjoint(c1) # c1 and d1 sets have 0 or no common elements, so it returns True

True

In [163]:
d1.isdisjoint(a1) # {1,2,3} are common

False

In [164]:
d1.isdisjoint(b1) # no common elements

True

### discard

In [165]:
print(c1)
print(d1)

{8, 9, 10}
{1, 2, 3}

In [166]:
c1.remove(1) # remove function will delete the specified element if it's a member of the set otherwise it will throw an error

KeyError: 1

In [167]:
c1.discard(1) # discard will delete the element if it's a member of the set else it won't throw any error

In [168]:
d1.discard(10) # 10 is not present in d, so discard will returns nothing and no exception will be thrown like remove() function